.evaluation-component {
  padding: 5%;
}

.evaluation-wallet {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

.evaluation-footer {
  text-align: center;
}