.xchain-component {
  text-align: center;
  padding: 5%;
}

.xchain-wallet {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

.xchain-modal-body {
  text-align: center;
}